@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --bg: #edf0f4;
  --bg-accent: #d9d9d9;
  --bg2: #2c2a50;

  --main: #152f4f;
  --main-light: #e3ecff;

  --secondary: #676b74;

  --accent-btns: #21a687;
  --accent-links: #f0423d;
}

html {
  background-color: var(--bg);
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Text styles */
h1 {
  font-weight: 800;
  font-size: 1.7em;
  margin: 0;
}
h2 {
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
}
h3 {
  font-weight: 400;
  margin: 0;
  font-size: 1.1em;
}
p {
  font-weight: 600;
  margin: 0;
}

ul {
  margin: 0;
}

/* default */
body {
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--bg);
  border: 1px solid var(--bg-accent);
}

footer {
  background-color: var(--main-light);
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
